<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/defaultTemplate" lang="en">

<head>
	<meta charset="UTF-8">
	<title>Delete Product</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body layout:fragment="content">
	<div class="container">
		<div class="col-sm-6">
			<h2 style="text-align:center">Delete Product</h2>
			<form th:action="@{/deleteProduct}" method="post" th:object="${product}">
				<div class="form-group">
					<label for="productId">Delete Product</label>
					<select id="productId" th:field="*{id}" class="form-control">
						<option th:each="p : ${products}" th:value="${p.id}" th:text="${p.name}">Delete Product</option>
					</select>
				</div>
				<button type="submit" class="btn btn-danger">Delete Product</button>
				<div th:if="${#fields.hasErrors('*')}">List of Errors</div>
				<div th:each="err : ${#fields.errors('*')}">
					<span style="color:red" th:text="${err}" class="fieldError"></span>
				</div>
			</form>
			<a th:href="@{/admin}">Back to Product Management</a>
		</div>
	</div>
</body>

</html>